#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar styling */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #96bb41;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav div {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: blue;
}
.home-page {
  background-color: #cd7ebfca; /* Set your home page background color */
  color: #000000; /* Set text color */
  padding: 2rem;
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
}
.checkcurrencies{
  background-color: #a8e55d; /* Set your home page background color */
  color: #000000; /* Set text color */
  padding: 2rem;
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
}